# Google Cloud Configuration
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=global

# Gemini API Configuration
GOOGLE_GENERATIVE_AI_API_KEY=

# ClickHouse MCP Configuration
MCP_CLICKHOUSE_URL=
MCP_SERVER_AUTH_TOKEN=
